.brand_listing_top_banner {
  height: 40vh;
  overflow: hidden !important;
}
.brand_listing_search {
  border: 1px solid rgb(155, 155, 155);
  width: fit-content;
}
.brand_listing_search > input {
  border-width: 0px;
  border: none;
}

.brand_listing_search > input:active {
  border-width: 0px;
  border: none !important;
}
.brand_list {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(155, 155, 155);
}
.brand_list > div {
  height: 85%;
  overflow: hidden;
}
