.brand_listing_top_banner {
  height: 40vh;
  overflow: hidden !important;
}
.brand_listing_search {
  border: 1px solid rgb(155, 155, 155);
  width: fit-content;
}
.brand_listing_search > input {
  border-width: 0px;
  border: none;
}

.brand_listing_search > input:active {
  border-width: 0px;
  border: none !important;
}
.brand_list {
  width: 15%;
  height: 200px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  border: 1px solid rgb(155, 155, 155);
  float: left !important;
}
.brand_list > div {
  height: 85%;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .brand_list {
    width: 20% !important ;
    height: 155px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
@media only screen and (max-width: 426px) {
  .brand_list {
    width: 45% !important;
    height: 155px;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
  }
}
