.customer-col {
  height: 275px;
}
.customer-img {
  width: 204px;
  height: 209px;
  position: absolute;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  border-radius: 10px 131px 0px;

  left: 11.81%;
  right: 74.03%;
  top: 9.3%;
  bottom: 85.17%;
}

.customer-img > img {
  width: 120%;
  position: relative;
  left: -10%;
  /* right: 50.03%; */
}

.customer-name {
  position: absolute;
  width: 50%;
  top: 235px;
  left: 96px;

  /* height: 50px; */

  background: rgba(219, 255, 0, 0.5);
  border-radius: 0px 45px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.customer-name > p {
  position: relative;
  bottom: -15px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
