@import url("https://fonts.googleapis.com/css?family=Lato");

/* footer > div > div > ul > li {
  text-decoration: none !important;
} */
footer {
  font-family: "Lato";
}
footer > div > div > ul {
  text-decoration: none !important;
  list-style-type: none;
  padding: 0px;
}
@media only screen and (max-width: 426px) {
  .footer-social-div {
    padding: 0px !important;
  }
  /* .footer-social-div > .w-75 {
    width: 100% !important;
  } */
  .footer-social-div > .footer-social {
    width: 55% !important;
  }
  .footer-payment {
    width: 100% !important;
  }
}
