body {
  font-family: "Lato", sans-serif;
}

.orders-fas {
  color: #da7a7a;
}
.orders-div {
  font-size: 14px;
  font-weight: 500;
  /* position: relative; */
  /* bottom: 25px; */
  /* width: 75%; */
}
.btn-toggle-nav > a {
  position: relative;
  text-decoration: none;
  color: black;
  font-size: small;
  left: 36%;
}
.orders-div > div {
  height: 200px;

  background: linear-gradient(
      0deg,
      rgba(243, 1, 87, 0.01),
      rgba(255, 101, 155, 0.1)
    ),
    url("../image/one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.profile-name {
  color: #df8585;
}
.profile-card-img {
  /* width: 25px; */
}
.profile-card-img > img {
  width: 100%;
}
.btn-toggle-nav > li {
  position: relative;
  font-size: small;
  left: 36%;
}
.orders-heading {
  /* position: relative; */
  color: #50019a;
  /* bottom: 50px; */
}
.profile {
  border-bottom: 1px solid gainsboro;
  /* box-shadow: 1px 7px #ffffff;
    box-shadow: 1px 8px #e9e7e7;
    box-shadow: 1px 9px #1a1919;
    box-shadow: 1px 10px #d3d3d3; */
}
.profile-img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 5px solid #fabebe;
  overflow: hidden;
}

.profile-img > img {
  /* width: 120%; */
  height: 100%;
}

.btn-toggle {
  outline: none !important;
  box-shadow: none !important;
}

.btn-edit-profile {
  outline: none !important;
  box-shadow: none !important;
  background: #50019a;
}
.side-nav {
  position: relative;
  top: 40px;
}

.wishlist {
  border-left: 1px solid #d3d3d3;
}
.profile-underline {
  color: #da7a7a;
  /* border-bottom: 1px solid #ffd4e3; */
}

.profile-title {
  background-color: #da7a7a;
}

.orders-div {
  height: 244px;
}

.orders-img {
  height: 125px;
  width: 125px;
}

.orders-img > img {
  width: 100%;
}
.orders-th {
  text-align: center;
  border: none !important;
}
.orders-tr {
  text-align: center;
  /* height: 125px !important; */
  /* border: 0px solid white; */
  border: none;
  padding: 50px 2px !important;
}
.orders-tr > td {
  border: none;
}

.orders-tr > th {
  border: none;
}

.orders-tbody {
  background: rgba(251, 253, 255, 0.5);
  border-radius: 10px;
}

/* .orders-tab {
  border-bottom: none !important;
}

.orders-tab > li > .btn {
  border: none !important;
  border-color: white !important ;
}
.orders-tab > li > .active {
  border: none !important;
  border-bottom: 1px solid #d6c5fc !important;
  margin-bottom: -2px !important;
} */

@media only screen and (max-width: 426px) and (min-width: 320px) {
  .side-nav {
    right: 45px;
  }
  .orders-div {
    height: auto;
  }
  .wishlist {
    border: none;
    padding: 0px;
    margin: 0px;
    margin-top: 10%;
  }
  .wishlist > .row {
    margin: 0px !important;
    padding: 0px !important;
  }
  .orders-div {
    margin: 5% 0px !important;
    padding: 0px !important;
  }

  .orders-div > .row > div > .mt-5 {
    margin-top: 0px !important;
  }
}
@media only screen and (max-width: 426px) and (min-width: 320px) {
  .orders-tab > .nav-item {
    padding-left: 0px !important ;
    padding-right: 0px !important ;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .side-nav {
    right: 45px;
  }

  .orders-tab > .nav-item {
    padding-left: 0px !important ;
    padding-right: 0px !important ;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {
  .side-nav {
    right: 45px;
  }

  .orders-div {
    height: 300px;
  }
  .wishlist > .row {
    padding: 0px !important;
  }
}
