body {
  font-family: "Lato", sans-serif;
}

.info-fas {
  color: #da7a7a;
}
.info-div {
  font-size: 14px;
  font-weight: 500;
  /* position: relative; */
  /* bottom: 25px; */
  /* width: 75%; */
}

.info-div > div {
  height: 200px;

  background: linear-gradient(
      0deg,
      rgba(243, 1, 87, 0.01),
      rgba(255, 101, 155, 0.1)
    ),
    url("../image/one.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.profile-name {
  color: #df8585;
}
.profile-card-img {
  /* width: 25px; */
}
.profile-card-img > img {
  width: 100%;
}
.btn-toggle-nav > li {
  position: relative;
  font-size: small;
  left: 36%;
}
.info-heading {
  position: relative;
  color: #50019a;
  bottom: 50px;
}
.profile {
  border-bottom: 1px solid gainsboro;
  /* box-shadow: 1px 7px #ffffff;
  box-shadow: 1px 8px #e9e7e7;
  box-shadow: 1px 9px #1a1919;
  box-shadow: 1px 10px #d3d3d3; */
}
.profile-img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  border: 5px solid #fabebe;
  overflow: hidden;
}

.profile-img > img {
  /* width: 120%; */
  height: 100%;
}

.btn-toggle {
  outline: none !important;
  box-shadow: none !important;
}

.btn-edit-profile {
  outline: none !important;
  box-shadow: none !important;
  background: #50019a;
}
.side-nav {
  position: relative;
  top: 40px;
}

.info {
  border-left: 1px solid #d3d3d3;
}
.profile-underline {
  color: #da7a7a;
  /* border-bottom: 1px solid #ffd4e3; */
}

.profile-title {
  background-color: #da7a7a;
}

.info-div {
  height: 244px;
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .side-nav {
    right: 45px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .side-nav {
    right: 45px;
  }
}
