.info-fas {
  color: #da7a7a;
}
.info-div {
  font-size: 14px;
  font-weight: 500;
}
.info-heading {
  position: relative;
  color: #50019a;
  bottom: 40px;
}

.btn-toggle {
  outline: none !important;
  box-shadow: none !important;
}

.btn-edit-profile {
  outline: none !important;
  box-shadow: none !important;
  background: #50019a;
}
.side-nav {
  position: relative;
  top: 40px;
}

.info {
  border-left: 1px solid black;
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .side-nav {
    right: 45px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .side-nav {
    right: 45px;
  }
}
