@import url("https://fonts.googleapis.com/css?family=Quicksand");

/* shipping css  */
.shipping-section {
  font-family: "Quicksand" !important;
}
.shipping-icons {
  width: 100px;
  height: 100px;
  background: #f4f4f4;
  border-radius: 100%;
}

.shipping-icons-active {
  border: 0.5px solid #fc7546;
  box-sizing: border-box;
}
.shipping-line {
  position: relative;
  background-color: #fc7546;
  width: 25% !important;
  height: 0px;
  left: 200px;
  top: 55px;
  border: 1px solid #fc7546;
}
.shipping-icons > i {
  font-size: xx-large;
  color: #807979 !important;
}

.shipping-summary-row {
  background-color: #f5f5f5;
}

.btn-shipping-login {
  background-color: rgba(59, 10, 105, 1) !important;
}
.btn-shipping-facebook {
  background-color: rgba(59, 89, 152, 1) !important;
}
.btn-shipping-google {
  background: #ffffff !important;
  border: 0.5px solid #3b0a69 !important;
}
.btn-shipping {
  background: #3b0a69 !important;
  color: white !important;
}
.btn-shipping-register {
  background: #d04343 !important;
  color: white !important;
}
.btn-shipping-google > img {
  width: 20px;
}
.shipping-eye-slash {
  position: relative;
  bottom: 30px;
  left: 375px;
  cursor: pointer;
}

@media only screen and (max-width: 426px) and (min-width: 320px) {
  .shipping-line {
    left: 50px;
    /* width: 50px; */
    top: 30px;
  }
  .shipping-register {
    margin-bottom: 30px;
  }
  .shipping-register > .row {
    padding: 0 !important;
  }
  .shipping-icons {
    width: 60px;
    height: 60px;
  }
  .shipping-eye-slash {
    left: 300px;
  }
  .shipping-summary > div {
    padding: 0px !important;
    /* margin: 0px !important; */
  }

  .shipping-summary > div > .row {
    margin: 0px !important;
  }

  .shipping-summary-row {
    margin: 0px !important;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .shipping-line {
    left: 100px;
    /* width: 150px; */
  }

  .shipping-eye-slash {
    left: 250px;
  }
  .shipping-summary > div {
    padding: 0px !important;
    /* margin: 0px !important; */
  }
  .shipping-register > .row {
    padding: 0 !important;
  }
  .shipping-summary > div > .row {
    margin: 0px !important;
  }

  .shipping-summary-row {
    margin: 0px !important;
  }
}

@media only screen and (max-width: 1025px) and (min-width: 769px) {
  .shipping-line {
    left: 100px;
    /* width: 250px; */
  }

  .shipping-eye-slash {
    left: 215px !important;
  }
  .shipping-register > .row {
    padding: 0 !important;
  }
  .shipping-form > .row {
    padding: 0 !important;
  }
  /* .shipping-summary {
  } */
  .shipping-summary > div {
    padding: 0px !important;
    /* margin: 0px !important; */
  }

  .shipping-summary > div > .row {
    margin: 0px !important;
  }

  .shipping-summary-row {
    margin: 0px !important;
  }

  .shipping-eye-slash {
    left: 250px;
  }
}
@media only screen and (min-width: 1439px) {
  .shipping-eye-slash {
    left: 350px;
  }
}
