.default-color {
  color: #ff3f3f;
}
.default-bg-color {
  background-color: #ff3f3f !important;
}
.store_list {
  width: 17%;
  height: 200px;
  border: 0.2px solid #b8b6b6 !important;
  float: left !important;
}
.store_list > div {
  height: 70%;
  overflow: hidden;
}
.store_list > p {
  height: 12.5%;
}

.store_logo {
  width: 50%;
}
.store_logo > img {
  width: 100%;
}
.store_social_icon {
  width: 100%;
}
.store_social_icon > img {
  width: 100%;
}
.store_ad {
  height: 300px;
  width: 100%;
}
.store_ad > img {
  width: 100%;
}

.store_sale {
  /* background: rgba(196, 196, 196, 0.5); */
  /* height: 465px; */
}

.store_card {
  position: relative;
  border-radius: 10px !important;
  height: 420px;
}
.store_card > .store_card_img {
  height: 60%;
  border-radius: 50px !important;
  overflow: hidden !important;
}
.store_card_img > img {
  width: 90% !important;
}
.store_card > .fa-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  color: grey;
  /* font-size: xx-large; */
  font-size: 25px;
}

.store_card > .discount {
  position: absolute;
  height: 75px;
  width: 75px;
  background: url("./image/offer.png");
  background-position: center;
  background-size: cover;
  bottom: 30%;
  right: 10px;
  color: grey;
}

@media only screen and (max-width: 425px) and (min-width: 200px) {
  .store_social_icon > img {
    width: 50% !important;
  }
  .store_list {
    width: 40% !important;
    height: 125px !important;
  }
  .store_ad {
    width: 50% !important;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .store_social_icon > img {
    width: 150% !important;
  }

  .store_list {
    width: 25%;
    height: 150px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .store_list {
    width: 15%;
    height: 150px;
  }
  .store_social_icon > img {
    width: 200% !important;
  }

  .store_card {
    margin: 0px !important;
    padding: 0px !important;
    width: 95% !important;
  }
}
